.homepage {
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    float: left;
    margin-bottom: 20px;
    width: 90%;
}

.category-title {
    color: #464664;
    float: left;
    clear: both;
    margin: 20px 0;
    margin-left: 16%;
    cursor: pointer;
    text-decoration: underline;

}

.book-list {
    clear: both;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 16%;
}

.book-list img {
    width: calc(25%);
    height: auto;
}

.homepage::after {
    content: "";
    display: table;
    clear: both;
}

.category-title:hover {
    text-decoration: none;
}